/* 预加载样式 */
.pre-loading-box {
    /* 预加载相关样式将在此处定义 */
}

body {
    margin: 0;
    font-family: 'MyAwesomeFont', serif !important;
}

* {
    font-family: 'MyAwesomeFont', serif !important;
}

/* Element UI 图标样式修复 */
i[class*="el-icon"], i.el-icon-*, [class*="el-icon"], [class^="el-icon-"], 
.el-icon, .el-select-icon, .el-input__icon, .el-step__icon, 
.el-message__icon, .el-message-box__status, .el-notification__icon,
.el-tree-node__expand-icon, .el-pagination button i,
.el-submenu__icon-arrow, .el-menu-item [class^="el-icon-"],
.el-form-item__icon, .el-tooltip__popper i, .el-button i,
.el-dialog__close, .el-dialog__headerbtn .el-dialog__close,
.el-collapse-item__arrow, .el-date-editor .el-range__icon,
.el-date-editor .el-range__close-icon, .el-tag .el-tag__close,
.el-cascader__icon, .el-tabs__nav-prev, .el-tabs__nav-next,
.el-popper .popper__arrow, .el-upload-list__item-actions,
.el-time-panel .el-time-spinner__arrow, .el-popover .popper__arrow,
.el-autocomplete-suggestion .el-icon-arrow-right,
.el-drawer__close-btn, .el-message-box__close,
.el-rate__icon, .el-select .el-input .el-select__caret {
    font-family: "element-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

/* FontAwesome 图标修复 */
i.fa, .fa, [class*="fa-"] {
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
}

/* IconFont 图标修复 */
.iconfont, [class*="icon-"] {
    font-family: "iconfont" !important;
    font-style: normal !important;
    font-weight: normal !important;
} 